#home-page {
  background-color: #204E72;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#FormBox {
  width: 100%;
  max-width: 600px;
  margin: auto;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;

  .header {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #013763;

    a {
      display: block;
    }

    img {
      width: 80px;
      height: auto;
      display: block;
    }
  }

  form {
    display: none;
    min-height: 400px;

    &.active {
      display: block;
      -webkit-animation: opened 1s ease forwards;
      -o-animation: opened 1s ease forwards;
      animation: opened 1s ease forwards;
    }

    &#step-three {
      min-height: 310px;
    }
  }

  .content {
    background-color: white;
    padding: 30px 40px;

    h1, h2, h3 {
      font-size: 30px;
      color: #5F5F5F;
      font-weight: 300;
      padding-bottom: 40px;
    }

    ::placeholder {
      color: #BFBFBF;
      font-family: Poppins, sans-serif;
      font-weight: 600;
    }
  }

  label {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #DFDFDF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    &[for=image_default] {
      cursor: pointer;

      input {
        padding-left: 80px;
      }
    }
  }

  input {
    width: 100%;
    max-width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding: 16px 10px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #797979;
    outline: none;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &:focus {
      border-color: #5AD4A1;
    }
  }

  .img_bg {
    width: 60px;
    height: calc(100% - 16px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: transparent no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  button, #homeGo {
    display: block;
    text-align: center;
    width: 100%;
    padding: 14px;
    margin-top: 40px;
    background-color: #5AD4A1;
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 26px;
    cursor: pointer;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    outline: none;

    &:hover {
      opacity: .5;
    }

    &:active {
      -webkit-transform: scale(.8);
      -moz-transform: scale(.8);
      -ms-transform: scale(.8);
      -o-transform: scale(.8);
      transform: scale(.8);
    }

    &:disabled {
      opacity: .2;
    }
  }
}

#success {
  display: none;

  &.active {
    display: block;
    -webkit-animation: opened 1s ease forwards;
    -o-animation: opened 1s ease forwards;
    animation: opened 1s ease forwards;
  }

  img {
    width: 140px;
    height: auto;
    margin: auto;
    display: block;
  }

  p {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: #C0C0C0;
    text-align: center;
    padding-top: 40px;
  }
}

#image-listing {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 184px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #DFDFDF;
  display: none;

  &.active {
    display: block;
  }

  .close_listing {
    position: absolute;
    right: 0;
    top: -22px;
    width: 20px;
    z-index: 1;
    background-color: white;
    cursor: pointer;

    &:hover + ul {
      opacity: .2;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  ul {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
  }

  li {
    position: relative;
    padding: 14px 14px 14px 80px;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    cursor: pointer;

    &:hover {
      opacity: .5;
    }
  }
}

.tc-control {
  position: absolute;
  width: 20px;
  right: 4px;
  top: 20px;

  img {
    display: none;
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes opened {
  0% {
    -webkit-transform: perspective(400px) rotateY(45deg) scale(.4);
    -moz-transform: perspective(400px) rotateY(45deg) scale(.4);
    -ms-transform: perspective(400px) rotateY(45deg) scale(.4);
    -o-transform: perspective(400px) rotateY(45deg) scale(.4);
    transform: perspective(400px) rotateY(45deg) scale(.4);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0) scale(1);
    -moz-transform: perspective(400px) rotateY(0) scale(1);
    -ms-transform: perspective(400px) rotateY(0) scale(1);
    -o-transform: perspective(400px) rotateY(0) scale(1);
    transform: perspective(400px) rotateY(0) scale(1);
  }
}

@-khtml-keyframes opened {
  0% {
    -webkit-transform: perspective(400px) rotateY(45deg) scale(.4);
    -moz-transform: perspective(400px) rotateY(45deg) scale(.4);
    -ms-transform: perspective(400px) rotateY(45deg) scale(.4);
    -o-transform: perspective(400px) rotateY(45deg) scale(.4);
    transform: perspective(400px) rotateY(45deg) scale(.4);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0) scale(1);
    -moz-transform: perspective(400px) rotateY(0) scale(1);
    -ms-transform: perspective(400px) rotateY(0) scale(1);
    -o-transform: perspective(400px) rotateY(0) scale(1);
    transform: perspective(400px) rotateY(0) scale(1);
  }
}

@-moz-keyframes opened {
  0% {
    -webkit-transform: perspective(400px) rotateY(45deg) scale(.4);
    -moz-transform: perspective(400px) rotateY(45deg) scale(.4);
    -ms-transform: perspective(400px) rotateY(45deg) scale(.4);
    -o-transform: perspective(400px) rotateY(45deg) scale(.4);
    transform: perspective(400px) rotateY(45deg) scale(.4);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0) scale(1);
    -moz-transform: perspective(400px) rotateY(0) scale(1);
    -ms-transform: perspective(400px) rotateY(0) scale(1);
    -o-transform: perspective(400px) rotateY(0) scale(1);
    transform: perspective(400px) rotateY(0) scale(1);
  }
}

@-ms-keyframes opened {
  0% {
    -webkit-transform: perspective(400px) rotateY(45deg) scale(.4);
    -moz-transform: perspective(400px) rotateY(45deg) scale(.4);
    -ms-transform: perspective(400px) rotateY(45deg) scale(.4);
    -o-transform: perspective(400px) rotateY(45deg) scale(.4);
    transform: perspective(400px) rotateY(45deg) scale(.4);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0) scale(1);
    -moz-transform: perspective(400px) rotateY(0) scale(1);
    -ms-transform: perspective(400px) rotateY(0) scale(1);
    -o-transform: perspective(400px) rotateY(0) scale(1);
    transform: perspective(400px) rotateY(0) scale(1);
  }
}

@-o-keyframes opened {
  0% {
    -webkit-transform: perspective(400px) rotateY(45deg) scale(.4);
    -moz-transform: perspective(400px) rotateY(45deg) scale(.4);
    -ms-transform: perspective(400px) rotateY(45deg) scale(.4);
    -o-transform: perspective(400px) rotateY(45deg) scale(.4);
    transform: perspective(400px) rotateY(45deg) scale(.4);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0) scale(1);
    -moz-transform: perspective(400px) rotateY(0) scale(1);
    -ms-transform: perspective(400px) rotateY(0) scale(1);
    -o-transform: perspective(400px) rotateY(0) scale(1);
    transform: perspective(400px) rotateY(0) scale(1);
  }
}

@keyframes opened {
  0% {
    -webkit-transform: perspective(400px) rotateY(45deg) scale(.4);
    -moz-transform: perspective(400px) rotateY(45deg) scale(.4);
    -ms-transform: perspective(400px) rotateY(45deg) scale(.4);
    -o-transform: perspective(400px) rotateY(45deg) scale(.4);
    transform: perspective(400px) rotateY(45deg) scale(.4);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0) scale(1);
    -moz-transform: perspective(400px) rotateY(0) scale(1);
    -ms-transform: perspective(400px) rotateY(0) scale(1);
    -o-transform: perspective(400px) rotateY(0) scale(1);
    transform: perspective(400px) rotateY(0) scale(1);
  }
}