@media(max-width: 767px) {
  #FormBox {
    max-width: calc(100% - 20px);
    margin: 10px 0;

    .content {
      padding: 20px;

      h1, h2, h3 {
        font-size: 24px;
        text-align: center;
        padding-bottom: 20px;
      }

      ::placeholder {
        color: #BFBFBF;
      }
    }

    .header {
      height: 100px;

      img {
        width: 60px;
      }
    }

    form {
      min-height: auto !important;
    }

    input {
      padding: 10px 8px;
      font-size: 14px;
    }

    button, #homeGo {
      padding: 8px;
      font-size: 20px;
      margin-top: 20px;
    }
  }
  .tc-control {
    top: 14px;
    width: 16px;
  }
}