{% extends 'base.html' %}
{% load staticfiles %}
{% block App %}
    <div id="FormBox">
        <div class="header">
            <a href="{% url 'home:home' %}" title="Anasayfa">
                <img src="{% static 'img/logo.svg' %}" alt="logo">
            </a>
        </div>
        <div class="content">
            <form class="active" id="step-one">
                <h1>Kişisel Bilgileriniz</h1>
                {% csrf_token %}
                <label for="tc">
                    <input type="text" name="tc" id="tc" placeholder="T.C Kimlik Numarası" maxlength="11" autocomplete="off" required>
                    <span class="tc-control">
                        <img class="checked_img" src="{% static 'img/checked.svg' %}" alt="checked">
                        <img class="close_img" src="{% static 'img/close.svg' %}" alt="close">
                    </span>
                </label>
                <label for="username">
                    <input type="text" name="username" id="username" placeholder="Kullanıcı Adı" maxlength="12">
                    <span class="tc-control">
                        <img class="checked_img" src="{% static 'img/checked.svg' %}" alt="checked">
                        <img class="close_img" src="{% static 'img/close.svg' %}" alt="close">
                    </span>
                </label>
                <label for="password">
                    <input type="password" name="password" id="password" placeholder="Şifre" maxlength="6">
                    <span class="tc-control">
                        <img class="checked_img" src="{% static 'img/checked.svg' %}" alt="checked">
                        <img class="close_img" src="{% static 'img/close.svg' %}" alt="close">
                    </span>
                </label>
                <button id="step-one-btn" disabled>İLERİ</button>
            </form>
            <form id="step-two">
                <h2>Kişisel Bilgileriniz</h2>
                {% csrf_token %}
                <input type="hidden" name="anahtar" id="key_one">
                <div id="image-listing" title="Kapat">
                    <i class="close_listing"><img src="{% static 'img/close.svg' %}" alt="close"></i>
                    <ul>
                        {% for pic in pictures %}
                            <li data-order="{{ pic.id }}" data-title="{{ pic.display_text }}" data-img="{{ pic.image.url }}">
                                <span class="img_bg" style="background-image: url({{ pic.image.url }})"></span>
                                <b>{{ pic.display_text }}</b>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <label for="image_default">
                    {% for img in pictures %}
                        {% if forloop.first %}
                            <span class="img_bg" style="background-image: url({{ img.image.url }})"></span>
                            <input type="text" name="image_default" id="image_default" value="{{ img.display_text }}" maxlength="0" disabled>
                            <input type="hidden" name="image" id="image" placeholder="Renk" maxlength="0" value="{{ img.order }}">
                        {% endif %}
                    {% endfor %}
                </label>
                <label for="phone">
                    <input type="tel" name="phone" id="phone" placeholder="Cep Telefonu" maxlength="10">
                    <span class="tc-control">
                        <img class="checked_img" src="{% static 'img/checked.svg' %}" alt="checked">
                        <img class="close_img" src="{% static 'img/close.svg' %}" alt="close">
                    </span>
                </label>
                <label for="car_brand">
                    <input type="text" name="car_brand" id="car_brand" placeholder="Araç Modeli" maxlength="20">
                </label>
                <button id="step-two-btn" disabled>İLERİ</button>
            </form>
            <form id="step-three">
                <h3>Kişisel Bilgileriniz</h3>
                {% csrf_token %}
                <input type="hidden" name="anahtar" id="key_two">
                <label for="number_plate">
                    <input type="text" name="number_plate" id="number_plate" maxlength="15" placeholder="Plaka No">
                    <span class="tc-control">
                        <img class="checked_img" src="{% static 'img/checked.svg' %}" alt="checked">
                        <img class="close_img" src="{% static 'img/close.svg' %}" alt="close">
                    </span>
                </label>
                <label for="chasis_number">
                    <input type="text" name="chasis_number" id="chasis_number" maxlength="25" placeholder="Şase No">
                    <span class="tc-control">
                        <img class="checked_img" src="{% static 'img/checked.svg' %}" alt="checked">
                        <img class="close_img" src="{% static 'img/close.svg' %}" alt="close">
                    </span>
                </label>
                <button id="step-three-btn" disabled>Gönder</button>
            </form>
            <div id="success">
                <img src="{% static 'img/checked.svg' %}" alt="checked">
                <p>Kaydınız Başarıyla Alındı!</p>
                <a id="homeGo" href="{% url 'home:home' %}" title="ANASAYFA">ANASAYFA</a>
            </div>
        </div>
    </div>
{% endblock %}