<!doctype html>{% load staticfiles %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style-min.css' %}">
    <title>{{ title }}</title>
</head>
<body id="{{ bodyId }}">
{% block App %}{% endblock %}
<script type="text/javascript" src="{% static 'js/scripts.min.js' %}"></script>
</body>
</html>